// ---------------- intro
.section-intro:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 80%;
  background-color: mix($light, $dark, 5%);
  transform: 
    translateX(-50%) 
    translateY(-50%) 
    rotate( calc( (var(--y) * 0.1deg) ) );
  will-change: transform;
  backface-visibility: visible;
}

// ------------------ image grid
.img-grid {
  flex-direction: column;
  justify-content: space-around;
}

.img-gridItem {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  
  img {
    display: block;
    width: 50%;
    height: 40vh;
    object-fit: cover;
    will-change: transform;
    backface-visibility: visible;
  }
  
  &.type-left img {
    margin-right: auto;  
  }
  &.type-right img {
    margin-left: auto;  
  }
}

.img-gridItem {
  &:nth-child(1) img {
    transform: translateX( calc( var(--yBlock-4) * -0.03% ) );
  }
  &:nth-child(2) img {
    transform: translateX( calc( var(--yBlock-4) * 0.03% ) );
  }
}

.img-caption {
  position: absolute;
  top: 50%;
  width: 50%;
  transform: translateY(-50%);
  
  * {
      text-align: left;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  
  .type-left & {
    right: 0;
  }
  .typpe-right & {
    left: 0;
  }
}


// ---------------- end
.section-end:before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 24%;
  width: 10px;
  height: 80%;
  background-color: white;
  z-index: 3;
  transform: translateY(8vw);
}


// -------------- kind of a footer
.custom-properties-ftw {
  padding: 2.5rem 1.5rem;
  
  .head-small {
    margin-bottom: 0;
  }
}